@{
    ViewData["Title"] = "Home Page";
}

<main id="mainContent">
    <section class="homepage-container">
        <!--carousel-->
        <div class="w3-content w3-display-container" style="max-width:1500px">
            <img class="mySlides"
                 src="https://cdnmedia.baotintuc.vn/Upload/DmtgOUlHWBO5POIHzIwr1A/files/2020/02/28/06-datcong01.jpg"
                 style="width:100%;max-height: 500px;">
            <img class="mySlides" src="https://www.w3schools.com/w3css/img_snow_wide.jpg"
                 style="width:100%;max-height: 500px;">
            <img class="mySlides" src="https://www.w3schools.com/w3css/img_mountains_wide.jpg"
                 style="width:100%;max-height: 500px;">
            <div class=" w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle"
                 style="width:100%">
                <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white"
                      onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white"
                      onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white"
                      onclick="currentDiv(3)"></span>
            </div>
        </div>

        <div class="container-fluid space-top-wide">
            <div class="space-top-wide bordered-bottom">
                <h1 class="space-bottom-none">Upcoming Online Auctions</h1>
            </div>
            <div id="UpcomingAuctionsHomepage" class="featured-auctions">
                <div class="bordered-bottom padding-bottom-wide">
                    <div class="space-top-wide row">
                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <div class="thumb-container">
                                <div class="thumb">
                                    <a href="/catalog/3n0n3rqcje"
                                       aria-label="Go to ORIENTAL ART HAMMER AUCTION 18 JANUARY 2024">
                                        <img src="https://dntt.mediacdn.vn/197608888129458176/2023/10/4/nha-lien-ke-2-16964063373021807235598.jpg"
                                             alt="ORIENTAL ART HAMMER AUCTION 18 JANUARY 2024"
                                             class="lazyloaded" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-10 col-xs-9">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="space-bottom-none space-top-none">
                                        <a href="/catalog/3n0n3rqcje">
                                            ORIENTAL ART HAMMER AUCTION 18 JANUARY
                                            2024
                                        </a>
                                    </h3>
                                    <p class="space-top-sm">
                                        <a href="/auction-house/oriental-art-auctions-fqo0wf0wto"
                                           class="link-color-black">
                                            by
                                            <!-- -->
                                            Oriental Art Auctions
                                        </a>
                                    </p>
                                    <p class="space-bottom-none">
                                        <span class="localized-date hide d-none">
                                            January 18, 2024 10:00 AM CET
                                            <!-- -->
                                        </span>
                                        <span class="non-localized-date">January 18, 2024 10:00 AM CET</span>
                                    </p>
                                    <p>Hattemerbroek, Netherlands</p>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div>
                                        <p>
                                            <i class="fa fa-feed"></i>
                                            Live
                                            <!-- -->
                                            Auction
                                        </p>
                                        <p>
                                            <a role="button" class="btn btn-live full-width">
                                                Enter Live
                                                Auction
                                            </a>
                                        </p>
                                        <p class="flush-right-left-text">
                                            <a role="button" class="registerToBidLogin link" tabindex="0"
                                               data-rfa-link="/bidNow/reqForApproval?catalogRef=3N0N3RQCJE"
                                               rel="nofollow">Register to bid</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex w-100 align-content-center" style="margin-top:15px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bordered-bottom padding-bottom-wide">
                    <div class="space-top-wide row">
                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <div class="thumb-container">
                                <div class="thumb">
                                    <a href="/catalog/roqq9lb04y"
                                       aria-label="Go to Asian Art Discoveries Day 2 - Chinese Art Discoveries">
                                        <img src="https://file4.batdongsan.com.vn/2020/09/29/tEfrXoEj/20200929160610-705c.jpg"
                                             alt="Asian Art Discoveries Day 2 - Chinese Art Discoveries"
                                             class="lazyloaded" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-10 col-xs-9">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="space-bottom-none space-top-none">
                                        <a href="/catalog/roqq9lb04y">
                                            Asian Art Discoveries Day 2 - Chinese Art
                                            Discoveries
                                        </a>
                                    </h3>
                                    <p class="space-top-sm">
                                        <a href="/auction-house/galerie-zacke-ipl6tbvlv4"
                                           class="link-color-black">
                                            by
                                            <!-- -->
                                            Galerie Zacke
                                        </a>
                                    </p>
                                    <p class="space-bottom-none">
                                        <span class="localized-date hide d-none">
                                            January 18, 2024 11:00 AM CET
                                            <!-- -->
                                        </span>
                                        <span class="non-localized-date">January 18, 2024 11:00 AM CET</span>
                                    </p>
                                    <p>Vienna, Austria</p>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div>
                                        <p>
                                            <i class="fa fa-feed"></i>
                                            Live
                                            <!-- -->
                                            Auction
                                        </p>
                                        <p>
                                            <a role="button" class="btn btn-live full-width">
                                                Enter Live
                                                Auction
                                            </a>
                                        </p>
                                        <p class="flush-right-left-text">
                                            <a role="button" class="registerToBidLogin link" tabindex="0"
                                               data-rfa-link="/bidNow/reqForApproval?catalogRef=ROQQ9LB04Y"
                                               rel="nofollow">Register to bid</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex w-100 align-content-center" style="margin-top:15px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bordered-bottom padding-bottom-wide">
                    <div class="space-top-wide row">
                        <div class="col-md-3 col-sm-2 col-xs-3">
                            <div class="thumb-container">
                                <div class="thumb">
                                    <a href="/catalog/xnorlts5g5" aria-label="Go to Old Stocks and Bonds">
                                        <img src="https://igia.com.vn/images/Beige_Minimalist_House_Before_After_Instagram_Post.png"
                                             alt="Old Stocks and Bonds" class="lazyloaded" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-10 col-xs-9">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="space-bottom-none space-top-none">
                                        <a href="/catalog/xnorlts5g5">Old Stocks and Bonds</a>
                                    </h3>
                                    <p class="space-top-sm">
                                        <a href="/auction-house/hwph-historisches-wertpapierhaus-ag-0uiot3zhfn"
                                           class="link-color-black">
                                            by
                                            <!-- -->
                                            HWPH Historisches Wertpapierhaus AG
                                        </a>
                                    </p>
                                    <p class="space-bottom-none">
                                        <span class="localized-date hide d-none">
                                            January 18, 2024 12:00 PM CET
                                            <!-- -->
                                        </span>
                                        <span class="non-localized-date">January 18, 2024 12:00 PM CET</span>
                                    </p>
                                    <p>Zorneding, Germany</p>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div>
                                        <p>
                                            <i class="fa fa-feed"></i>
                                            Live
                                            <!-- -->
                                            Auction
                                        </p>
                                        <p>
                                            <a role="button" class="btn btn-live full-width">
                                                Enter Live
                                                Auction
                                            </a>
                                        </p>
                                        <p class="flush-right-left-text">
                                            <a role="button" class="registerToBidLogin link" tabindex="0"
                                               data-rfa-link="/bidNow/reqForApproval?catalogRef=XNORLTS5G5"
                                               rel="nofollow">Register to bid</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex w-100 align-content-center" style="margin-top:15px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center space-top-wide">
                <a href="/auctions/">View all upcoming live and timed auctions</a>
            </div>
        </div>
    </section>
</main>
